<main class="news">
  <div class="container">
      <form class="pull-right">
          <input type="text" placeholder="Search..." required>
          <input type="button" value="Search">
      </form>
      <div class="row padded">
      {{#each pageContent.results}}
      <div class="news-item wow fadeInUp">
        {{#if data.[news.post-image]}}
        <a class="image" style="background-image: url('{{image this 'news.post-image'}}');" href="/news/{{uid}}"></a>
        {{else if data.[news.watermark]}}
        <a class="image" style="background-image: url('{{image this 'news.watermark'}}'); background-size: 80%;" href="/news/{{uid}}"></a>
        {{else}}
        <a class="image" href="/news/{{uid}}"></a>
        {{/if}}
        {{structuredText this 'news.title' ../ctx}}
        <p class="date">
          {{dateFormat data.[news.post-date].value}}
        </p>
        <div class="body">
          {{structuredText this 'news.body' ../ctx}}
        </div>
        <a class="link" href="/news/{{uid}}">Read more +</a>
      </div>
      {{/each}}
      <p id="load-more-articles" class="link larger">Load More +</p>
    </div>
  </div>
</main>
