<main class="create-user">
  {{#if password}}
  <script>
  window.prompt("The new users temporary password is in the input below. Please write this down and keep it in a safe place.","{{password}}");
  </script>
  {{/if}}
    <div class="container">

        {{#if edit}}
        <h1>User - {{user.emailaddress}}</h1>
        <form action="/admin/user/{{user._id}}" method="post">
        {{else}}
        <h1>Create User</h1>
        <form action="/admin/user/create" method="post">
        {{/if}}
        <label>
          Email Address:
          <input type="email" value="{{user.emailaddress}}" name="emailaddress">
        </label>
            <div class="row">
                <div class="six columns">
                  <label>
                    First Name:
                    <input type="text" value="{{user.name.first}}" name="firstname" class="">
                  </label>
                </div>
                <div class="six columns">
                  <label>
                    Last name:
                    <input type="text" value="{{user.name.last}}" name="lastname">
                  </label>
                </div>
            </div>
            {{#if user.admin}}
              <label class="switch">
              <input type="checkbox" name="administrator" checked>
                  <div class="slider round"></div>
              </label>
            {{else}}
              <label class="switch">
              <input type="checkbox" name="administrator">
                  <div class="slider round"></div>
              </label>
            {{/if}}
              <span class="label-body"> User is admin</span>
            {{#if edit}}
            <!-- <div class="row">
              <div class="six columns">
                Change password:<br>
                <input type="password" name="password"><br>
              </div>
              <div class="six columns">
                Change password confirm:<br>
                <input type="password" name="confirmpassword"><br>
              </div>
            </div> -->
            {{/if}}
            {{#if edit}}
            <input type="submit" value="Edit" class="submit button"/>
            {{else}}
            <input type="submit" value="Submit" class="submit button"/>
            {{/if}}
        </form>
        {{#if edit}}
        {{#if user.blocked}}
        <a class="button" href="/admin/block/{{user._id}}">UnBlock user</a>
        {{else}}
        <a class="button" href="/admin/block/{{user._id}}">Block user</a>
        {{/if}}
        <a class="button" href="/admin/password-reset/{{user._id}}">Force password reset</a>
        {{/if}}
        {{#if userActivity}}
        <table class="user-activity">
          <thead>
            <tr>
              <td>
                Date/ time
              </td>
              <td>
                Activity
              </td>
            </tr>
          </thead>
          <tbody>
            {{#each userActivity}}
            <tr>
              <td>
                {{dateTimeFormat createdAt}}
              </td>
              <td>
                {{activity}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{else}}
        <p>
          There has been no activity recorded for this user.
        </p>
        {{/if}}
    </div>
</main>
