<main class="create-user">
    <div class="container">

        {{#if edit}}
        <h1>User - {{user.emailaddress}}</h1>
        <form action="/admin/user/{{user._id}}" method="post">
        {{else}}
        <h1>Create User</h1>
        <form action="/admin/user/create" method="post">
        {{/if}}
            <div class="row">
                <div class="six columns">
                    Email Address:<br>
                    <input type="email" value="{{user.emailaddress}}" name="emailaddress" {{#unless admin}} disabled {{/unless}}><br>
                    First Name:<br>
                    <input type="text" value="{{user.name.first}}" name="firstname" class=""><br>
                </div>
                <div class="six columns">
                    Phone Number:<br>
                    <input type="tel" value="{{user.phonenumber}}" name="phonenumber"><br>
                    Last name:<br>
                    <input type="text" value="{{user.name.last}}" name="lastname">
                </div>
            </div>
            {{#if edit}}
            <div class="row">
              <div class="six columns">
                Change password:<br>
                <input type="password" name="password"><br>
              </div>
              <div class="six columns">
                Change password confirm:<br>
                <input type="password" name="confirmpassword"><br>
              </div>
            </div>
            {{/if}}
            Job Role:<br>
            <input type="text" value="{{user.jobrole}}" name="jobrole">
            {{#if admin}}
              {{#if user.admin}}
                <label class="switch">
                <input type="checkbox" name="administrator" checked>
                    <div class="slider round"></div>
                </label>
              {{else}}
                <label class="switch">
                <input type="checkbox" name="administrator">
                    <div class="slider round"></div>
                </label>
              {{/if}}
                <span class="label-body"> User is admin</span>
            {{/if}}
            {{#if edit}}
            <input type="submit" value="Edit" class="submit button"/>
            {{else}}
            <input type="submit" value="Submit" class="submit button"/>
            {{/if}}
        </form>
    </div>
</main>
