<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{metaData.title}}</title>
  <meta name="author" content="{{metaData.company}}">
  <meta name="description" content="{{metaData.description}}">

  <!-- SOCIAL MEDIA META -->
  <meta property="og:description" content="{{metaData.description}}">
  <meta property="og:image" content="{{metaData.socialImage}}">
  <meta property="og:site_name" content="{{metaData.title}}">
  <meta property="og:title" content="{{metaData.title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{metaData.website}}">

  <!-- TWITTER META -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@bluebulldogstudio">
  <meta name="twitter:creator" content="@bluebulldogstudio">
  <meta name="twitter:title" content="{{metaData.title}}">
  <meta name="twitter:description" content="Blue Bulldog - A creative web and app studio">
  <meta name="twitter:image" content="{{metaData.website}}">

  <!-- FAVICON FILES -->
  <link href="/images/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="/images/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="/images/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="/images/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="/images/ico/favicon.png" rel="shortcut icon">

  <meta name="google-site-verification" content="Caqf5dE8hW_6t68juLHqnPA7crJ2sCCL_ysdsmZ3O_4" />
  <link rel="alternate" href="http://www.bluebulldog.co.uk/" hreflang="en-gb" />

  <script src="https://use.fontawesome.com/fde8e54216.js"></script>
  <!-- CSS
  ================================================== -->
  <!-- build:css /css/styles.min.css -->
  <link rel="stylesheet" href="/bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/bower_components/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="/bower_components/wow/css/libs/animate.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- endbuild -->

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '698327456984391');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=698327456984391&ev=PageView&noscript=1"
  /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->
</head>
