<h6>Share this post with your friends!</h6>
<a class="button social-btn button-twitter" onclick="app.socialShare.twitter(window.location.origin + '/blog/post/{{fields.slug}}')">
  <i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<a class="button social-btn button-facebook" onclick="app.socialShare.facebook(window.location.origin + '/blog/post/{{fields.slug}}')">
  <i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<a class="button social-btn button-google-plus" onclick="app.socialShare.googlePlus(window.location.origin + '/blog/post/{{fields.slug}}')">
  <i class="fa fa-google-plus" aria-hidden="true"></i>
</a>
<a class="button social-btn button-linkedin" onclick="app.socialShare.linkedin(window.location.origin + '/blog/post/{{fields.slug}}', '{{fields.title}}', '{{fields.shortContent}}')">
  <i class="fa fa-linkedin" aria-hidden="true"></i>
</a>
<a class="button social-btn button-pinterest" onclick="app.socialShare.pinterest(window.location.origin + '/blog/post/{{fields.slug}}', '{{metaData.socialImage}}', '{{fields.shortContent}}')">
  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
</a>
<a class="button social-btn button-reddit" onclick="app.socialShare.reddit('{{fields.title}}', window.location.origin + '/blog/post/{{fields.slug}}')">
  <i class="fa fa-reddit-alien" aria-hidden="true"></i>
</a>
<a class="button social-btn button-email" onclick="app.socialShare.email('{{fields.title}}', window.location.origin + '/blog/post/{{fields.slug}}')">
  <i class="fa fa-envelope" aria-hidden="true"></i>
</a>
