{{> slider}}
<main class="home">
  <div class="container">
    <div class="row">
      <div class="col-2">
        {{structuredText pageContent 'homepage.high-technology-design-body' ctx}}
        <a class="link" href="/about">About ></a>
      </div>
      <div class="col-2 about-bg" style="background-image: url('{{image pageContent 'homepage.high-technology-design-image'}}')"></div>
    </div>
    <div class="row">
      <div class="col-2 team-bg not-mobile" style="background-image: url('{{image pageContent 'homepage.complementary-skills-image'}}')"></div>
      <div class="col-2 bg-darkgrey">
        {{structuredText pageContent 'homepage.complementary-skills-body' ctx}}
        <a class="link" href="/team">Team ></a>
      </div>
      <div class="col-2 team-bg mobile" style="background-image: url('{{image pageContent 'homepage.complementary-skills-image'}}')"></div>
    </div>
    <div class="row">
      <div class="col-2  bg-beige">
        {{structuredText pageContent 'homepage.innovative-materials-body' ctx}}
        <a class="link" href="/technology">Technology ></a>
      </div>
      <div class="col-2 technology-bg" style="background-image: url('{{image pageContent 'homepage.innovative-materials-image'}}')"></div>
    </div>
  </div>
</main>
