<main class="news">
  <div class="container">
    <div class="hero news">
      <div class="inner">
        <h2>News</h2>
      </div>
    </div>
    <div class="row padded">
      {{#each pageContent.results}}
      <div style="background-image: url('{{data.[news.post-image].value.main.url}}');" class="news-item wow fadeInUp">
        <a class="image" href="/news/{{uid}}"></a>
        <h2>{{data.[news.title].value.[0].text}}</h2>
        <p class="date">
          {{dateFormat data.[news.post-date].value}}
        </p>
        <p class="body">
          {{data.[news.body].value.[0].text}}
        </p>
        <a class="link" href="/about">Read more +</a>
      </div>
      {{/each}}
      <p id="load-more-articles" class="link larger">Load More +</p>
    </div>
  </div>
</main>
