<main class="ois">
  <div class="container">
    <div class="hero technology-slide-two" style="background-image: url('{{image pageContent 'oispage.hero'}}')">
      <div class="inner">
        <h2>AutoFocus & Optical Image Stabilisation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        {{structuredText pageContent 'oispage.ois-body' ctx}}
      </div>
      <div class="col-2 gemini_image"></div>
    </div>
    <div class="row">
      <div class="col-2 ois-on" style="background-image: url('{{image pageContent 'oispage.ois-on-image'}}')">
        <div class="small-box">
          <h5>OIS On</h5>
        </div>
      </div>
      <div class="col-2 ois-off" style="background-image: url('{{image pageContent 'oispage.ois-off-image'}}')">
        <div class="small-box">
          <h5>OIS Off</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        {{structuredText pageContent 'oispage.simplicity-body' ctx}}
      </div>
      <div class="col-2 gemini_exploded"></div>
    </div>
    <hr />
    <div class="ois-features">
      {{#group pageContent 'oispage.points-of-interest'}}
      <div class="feature">
        <div class="beige-circle" style="background-image: url('{{image this 'image'}}')"></div>
        <h5>{{text this 'header'}}</h5>
        {{structuredText this 'body' ../ctx}}
      </div>
      {{/group}}
    </div>
    <hr />
    {{structuredText pageContent 'oispage.autofocus-ois-body' ctx}}
  </div>
</main>
