<main class="ois">
  <div class="container">
    <div class="hero technology-slide-two" style="background-image: url('{{pageContent.data.[oispage.hero].value.main.url}}')">
      <div class="inner">
        <h2>AutoFocus & Optical Image Stabilisation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        {{structuredText pageContent.data.[oispage.ois-body]}}
      </div>
      <div class="col-2 gemini_image"></div>
    </div>
    <div class="row">
      <div class="col-2 ois-on" style="background-image: url('{{pageContent.data.[oispage.ois-on-image].value.main.url}}')">
        <div class="small-box">
          <h5>OIS On</h5>
        </div>
      </div>
      <div class="col-2 ois-off" style="background-image: url('{{pageContent.data.[oispage.ois-off-image].value.main.url}}')">
        <div class="small-box">
          <h5>OIS Off</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        {{structuredText pageContent.data.[oispage.simplicity-body]}}
      </div>
      <div class="col-2 gemini_exploded"></div>
    </div>
    <hr />
    <div class="ois-features">
      {{#each pageContent.data.[oispage.points-of-interest].value}}
      <div class="feature">
        <div class="beige-circle" style="background-image: url('{{image.value.main.url}}')"></div>
        <h5>{{header.value}}</h5>
        {{structuredText body}}
      </div>
      {{/each}}
    </div>
    <hr />
    {{structuredText pageContent.data.[oispage.autofocus-ois-body]}}
  </div>
</main>
