<main class="our-platform-technology">
  <div class="container">
    <div class="hero our-platform-technology margin" style="background-image: url('{{pageContent.data.[ourplatformtechnologypa.hero].value.main.url}}')">
      <div class="inner">
        <h2 class="indigo">Small, Lightweight, Precise & Powerful</h2>
      </div>
    </div>
    <div class="row" id="drones">
      <div class="col-2">
        <h3 class="wow fadeInUp">Drones</h3>
        {{structuredText pageContent.data.[ourplatformtechnologypa.drones-body]}}
      </div>
      <div class="col-2 drone-bg" style="background-image: url('{{pageContent.data.[ourplatformtechnologypa.drones-image].value.main.url}}')"></div>
    </div>
    <div class="row" id="virtualreality">
      <div class="col-2 virtual-bg" style="background-image: url('{{pageContent.data.[ourplatformtechnologypa.virtual-reality-image].value.main.url}}')"></div>
      <div class="col-2">
        <h3 class="wow fadeInUp">Virtual Reality</h3>
        {{structuredText pageContent.data.[ourplatformtechnologypa.virtual-reality-body]}}
      </div>
    </div>
    <div class="row" id="haptics">
      <div class="col-2">
        <h3 class="wow fadeInUp">Haptics</h3>
        {{structuredText pageContent.data.[ourplatformtechnologypa.haptics-body]}}
       </div>
     <div class="col-2 haptics-bg" style="background-image: url('{{pageContent.data.[ourplatformtechnologypa.haptics-image].value.main.url}}')"></div>
    </div>
    <div class="row" id="medicaldevices">
      <div class="col-2 medical-devices-bg" style="background-image: url('{{pageContent.data.[ourplatformtechnologypa.medical-devices-image].value.main.url}}')"></div>
      <div class="col-2">
        <h3 class="wow fadeInUp">Medical Devices</h3>
        {{structuredText pageContent.data.[ourplatformtechnologypa.medical-devices-body]}}
      </div>
    </div>
    <div class="row" id="robotics">
      <div class="col-2">
        <h3 class="wow fadeInUp">Robotics</h3>
        {{structuredText pageContent.data.[ourplatformtechnologypa.robotics-body]}}
      </div>
     <div class="col-2 robotics-bg" style="background-image: url('{{pageContent.data.[ourplatformtechnologypa.robotics-image].value.main.url}}')"></div>
    </div>
    <div class="row" id="selfdrivingcars">
      <div class="col-2 self-driving-bg" style="background-image: url('{{pageContent.data.[ourplatformtechnologypa.self-driving-cars-image].value.main.url}}')"></div>
       <div class="col-2">
         <h3 class="wow fadeInUp">Self Driving Cars</h3>
         {{structuredText pageContent.data.[ourplatformtechnologypa.self-driving-cars-body]}}
      </div>
    </div>
  </div>
</main>
