<main class="our-platform-technology">
  <div class="container">
    <div class="hero our-platform-technology margin" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.hero'}}')">
      <div class="inner">
        <h2 class="indigo">Curated Growth Markets:<br/>The High Tech CML Can Improve</h2>
      </div>
    </div>
    <div class="row" id="drones">
      <div class="col-2">
        <h3 class="wow fadeInUp">Drones</h3>
        {{structuredText pageContent 'ourplatformtechnologypa.drones-body' ctx}}
      </div>
      <div class="col-2 drone-bg" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.drones-image'}}')"></div>
    </div>
    <div class="row" id="virtualreality">
      <div class="col-2 virtual-bg not-mobile" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.virtual-reality-image'}}')"></div>
      <div class="col-2">
        <h3 class="wow fadeInUp">Virtual Reality</h3>
        {{structuredText pageContent 'ourplatformtechnologypa.virtual-reality-body' ctx}}
      </div>
      <div class="col-2 virtual-bg mobile" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.virtual-reality-image'}}')"></div>
    </div>
    <div class="row" id="haptics">
      <div class="col-2">
        <h3 class="wow fadeInUp">Haptics</h3>
        {{structuredText pageContent 'ourplatformtechnologypa.haptics-body' ctx}}
       </div>
     <div class="col-2 haptics-bg" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.haptics-image'}}')"></div>
    </div>
    <div class="row" id="medicaldevices">
      <div class="col-2 medical-devices-bg not-mobile" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.medical-devices-image'}}')"></div>
      <div class="col-2">
        <h3 class="wow fadeInUp">Medical Devices</h3>
        {{structuredText pageContent 'ourplatformtechnologypa.medical-devices-body' ctx}}
      </div>
      <div class="col-2 medical-devices-bg mobile" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.medical-devices-image'}}')"></div>
    </div>
    <div class="row" id="robotics">
      <div class="col-2">
        <h3 class="wow fadeInUp">Robotics</h3>
        {{structuredText pageContent 'ourplatformtechnologypa.robotics-body' ctx}}
      </div>
     <div class="col-2 robotics-bg" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.robotics-image'}}')"></div>
    </div>
    <div class="row" id="selfdrivingcars">
      <div class="col-2 self-driving-bg not-mobile" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.self-driving-cars-image'}}')"></div>
       <div class="col-2">
         <h3 class="wow fadeInUp">Self Driving Cars</h3>
         {{structuredText pageContent 'ourplatformtechnologypa.self-driving-cars-body' ctx}}
      </div>
      <div class="col-2 self-driving-bg mobile" style="background-image: url('{{image pageContent 'ourplatformtechnologypa.self-driving-cars-image'}}')"></div>
    </div>
  </div>
</main>
