<main class="team">
    <div class="container">
        <div class="hero team-bg margin" style="background-image: url('{{pageContent.data.[teampage.hero].value.main.url}}')">
            <div class="inner">
                <h2 class="indigo">Team</h2>
            </div>
        </div>
        {{structuredText pageContent.data.[teampage.body]}}
        <h3 class="wow fadeInUp">Board</h3>
        {{#each pageContent.data.[teampage.board].value}}
          <div class="team-member">
              <div class="avatar" style="background-image: url('{{image.value.main.url}}')">
              </div>
              <h4>{{name.value}}</h4>
              <h4>{{title.value}}</h4>
              {{#if bio}}
              <div class="link toggle-text">
                  Read More +
              </div>
              <div class="text">
                  {{structuredText bio}}
              </div>
              {{/if}}
          </div>
        {{/each}}
        <hr/>
        <h3 class="wow fadeInUp">Advisers</h3>
        {{#each pageContent.data.[teampage.board-advisors].value}}
          <div class="team-member">
              <div class="avatar" style="background-image: url('{{image.value.main.url}}')">
              </div>
              <h4>{{name.value}}</h4>
              <h4>{{title.value}}</h4>
              {{#if bio}}
              <div class="link toggle-text">
                  Read More +
              </div>
              <div class="text">
                  {{structuredText bio}}
              </div>
              {{/if}}
          </div>
        {{/each}}
        <hr/>
        <h3 class="wow fadeInUp">Senior Management</h3>
        {{#each pageContent.data.[teampage.senior-management].value}}
          <div class="team-member">
              <div class="avatar" style="background-image: url('{{image.value.main.url}}')">
              </div>
              <h4>{{name.value}}</h4>
              <h4>{{title.value}}</h4>
              {{#if bio}}
              <div class="link toggle-text">
                  Read More +
              </div>
              <div class="text">
                  {{structuredText bio}}
              </div>
              {{/if}}
          </div>
        {{/each}}
        <!-- <hr/>
        <h3 class="wow fadeInUp">Technical Team</h3>
        {{#each pageContent.data.[teampage.technical-team].value}}
          <div class="team-member">
              <h4>{{name.value}}</h4>
              <h4>{{title.value}}</h4>
              {{#if bio}}
              <div class="link toggle-text">
                  Read More +
              </div>
              <div class="text">
                  {{structuredText bio}}
              </div>
              {{/if}}
          </div>
        {{/each}} -->
    </div>
</main>
