<main class="technology">
  <div class="container">
    <div class="hero technology-slide-one margin" style="background-image: url('{{pageContent.data.[technologypage.hero].value.main.url}}')">
      <div class="inner">
        <h2 class="indigo">Technology<br/>Small, Lightweight, Precise & Powerful</h2>
      </div>
    </div>
      {{structuredText pageContent.data.[technologypage.body]}}
    <a href="/ois">
      <div class="hero technology-slide-two" style="background-image: url('{{pageContent.data.[technologypage.autofocus-ois].value.main.url}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">AutoFocus & Optical Image Stabilisation</h2>
      </div>
    </a>
    <a href="/our-platform-technology#drones">
      <div class="col-2 drone-bg soft-padding" style="background-image: url('{{pageContent.data.[technologypage.drones].value.main.url}}')">
        <h2 class="white pull-txt-left wow fadeInUp">Drones</h2>
      </div>
    </a>
    <a href="/our-platform-technology#virtualreality">
      <div class="col-2 virtual-bg soft-padding" style="background-image: url('{{pageContent.data.[technologypage.virtual-reality].value.main.url}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Virtual Reality</h2>
      </div>
    </a>
    <a href="/our-platform-technology#haptics">
      <div class="col-2 haptics-bg soft-padding" style="background-image: url('{{pageContent.data.[technologypage.haptics].value.main.url}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Haptics</h2>
      </div>
    </a>
    <a href="/our-platform-technology#medicaldevices">
      <div class="col-2 medical-devices-bg soft-padding" style="background-image: url('{{pageContent.data.[technologypage.medical-devices].value.main.url}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Medical Devices</h2>
      </div>
    </a>
    <a href="/our-platform-technology#robotics">
      <div class="col-2 robotics-bg soft-padding" style="background-image: url('{{pageContent.data.[technologypage.robotics].value.main.url}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Robotics</h2>
      </div>
    </a>
    <a href="/our-platform-technology#selfdrivingcars">
      <div class="col-2 self-driving-bg soft-padding" style="background-image: url('{{pageContent.data.[technologypage.self-driving-cars].value.main.url}}')">
        <h2 class="white pull-txt-left wow fadeInUp">Self Driving Cars</h2>
      </div>
    </a>
  </div>
</main>
