<main class="technology">
  <div class="container">
    <div class="hero technology-slide-one margin" style="background-image: url('{{image pageContent 'technologypage.hero'}}')">
      <div class="inner">
        <h2 class="indigo">Technology<br/>Small, Lightweight, Precise & Powerful</h2>
      </div>
    </div>
      {{structuredText pageContent 'technologypage.body' ctx}}
    <a href="/ois">
      <div class="hero technology-slide-two" style="background-image: url('{{image pageContent 'technologypage.autofocus-ois'}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">AutoFocus & Optical Image Stabilisation</h2>
        <div class="plus-circle"></div>
        <div class="plus-circle"></div>
      </div>
    </a>
    <a href="/our-platform-technology#drones">
      <div class="col-2 drone-bg soft-padding" style="background-image: url('{{image pageContent 'technologypage.drones'}}')">
        <h2 class="white pull-txt-left wow fadeInUp">Drones</h2>
        <div class="plus-circle-light"></div>
      </div>
    </a>
    <a href="/our-platform-technology#virtualreality">
      <div class="col-2 virtual-bg soft-padding" style="background-image: url('{{image pageContent 'technologypage.virtual-reality'}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Virtual Reality</h2>
        <div class="plus-circle"></div>
      </div>
    </a>
    <a href="/our-platform-technology#haptics">
      <div class="col-2 haptics-bg soft-padding" style="background-image: url('{{image pageContent 'technologypage.haptics'}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Haptics</h2>
        <div class="plus-circle"></div>
      </div>
    </a>
    <a href="/our-platform-technology#medicaldevices">
      <div class="col-2 medical-devices-bg soft-padding" style="background-image: url('{{image pageContent 'technologypage.medical-devices'}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Medical Devices</h2>
        <div class="plus-circle"></div>
      </div>
    </a>
    <a href="/our-platform-technology#robotics">
      <div class="col-2 robotics-bg soft-padding" style="background-image: url('{{image pageContent 'technologypage.robotics'}}')">
        <h2 class="indigo pull-txt-left wow fadeInUp">Robotics</h2>
        <div class="plus-circle"></div>
      </div>
    </a>
    <a href="/our-platform-technology#selfdrivingcars">
      <div class="col-2 self-driving-bg soft-padding" style="background-image: url('{{image pageContent 'technologypage.self-driving-cars'}}')">
        <h2 class="white pull-txt-left wow fadeInUp">Self Driving Cars</h2>
        <div class="plus-circle-light"></div>
      </div>
    </a>
  </div>
</main>
